* {
  box-sizing: border-box;
}

table {
  border: 1px solid black;
  margin: 0 auto;
}

td {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

h1 {
  text-align: center;
}

.everything {
  background-color: black;
}

.outer-game-box {
  width: 100%;
  border: 1px solid black;
}

.game-box {
  background-color: white;
  border: 1px solid black;
  border-top: none;
  border-bottom: none;
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
}

.get-me {
  background-color: yellow;
  border: 1px solid black;
  padding: 1rem;
}
